<% provide(:title, "Create A New Location") %>
<% provide(:button_text, "Create Location") %>
<h1>Create A New Location</h1>

<div class = "row">
    <div class = "col-md-6 col-md-offset-3">
        <%= render "form" %>
    </div>
</div>
