<footer class = "footer">
    <small>
        The <a herf = "/">Course App</a> by <a href = "/">Author</a>
    </small>
    <nav>
        <ul>
            <li><%= link_to("About", root_path) %></li>
            <li><%= link_to("Contact", root_path) %></li>
        </ul>
    </nav>
</footer>
